<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>eshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!--servlet类路径配置-->
    <!--用户-->
    <!--注册-->
    <servlet>
        <servlet-name>registServlet</servlet-name>
        <servlet-class>servlet.registServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>registServlet</servlet-name>
		<url-pattern>/eshop/registServlet</url-pattern>
	</servlet-mapping>
	
	<!--登录-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlet.loginServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<!-- 显示订单信息 -->
	<servlet>
        <servlet-name>setorderServlet</servlet-name>
        <servlet-class>servlet.setorderServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>setorderServlet</servlet-name>
		<url-pattern>/eshop/setorderServlet</url-pattern>
	</servlet-mapping>
	<!--验证用户名-->
    <servlet>
        <servlet-name>check_usernameServlet</servlet-name>
        <servlet-class>servlet.check_usernameServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>check_usernameServlet</servlet-name>
		<url-pattern>/eshop/check_usernameServlet</url-pattern>
	</servlet-mapping>
	<!--发布公告-->
    <servlet>
        <servlet-name>noticeServlet</servlet-name>
        <servlet-class>servlet.noticeServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>noticeServlet</servlet-name>
		<url-pattern>/eshophome/noticeServlet</url-pattern>
	</servlet-mapping>
	<!--删除公告-->
    <servlet>
        <servlet-name>delnoticeServlet</servlet-name>
        <servlet-class>servlet.delnoticeServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>delnoticeServlet</servlet-name>
		<url-pattern>/eshophome/delnoticeServlet</url-pattern>
	</servlet-mapping>
	<!--添加商品-->
    <servlet>
        <servlet-name>goodsServlet</servlet-name>
        <servlet-class>servlet.goodsServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>goodsServlet</servlet-name>
		<url-pattern>/eshophome/goodsServlet</url-pattern>
	</servlet-mapping>
	<!--显示个人中心-->
    <servlet>
        <servlet-name>showPersonalServlet</servlet-name>
        <servlet-class>servlet.showPersonalServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>showPersonalServlet</servlet-name>
		<url-pattern>/eshop/showPersonalServlet</url-pattern>
	</servlet-mapping>
	
	<!--修改个人中心-->
    <servlet>
        <servlet-name>updatePersonalServlet</servlet-name>
        <servlet-class>servlet.updatePersonalServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>updatePersonalServlet</servlet-name>
		<url-pattern>/eshop/updatePersonalServlet</url-pattern>
	</servlet-mapping>
	<!--添加超市-->
    <servlet>
        <servlet-name>shopServlet</servlet-name>
        <servlet-class>servlet.shopServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>shopServlet</servlet-name>
		<url-pattern>/admin/shopServlet</url-pattern>
	</servlet-mapping>
    <!--刷新订单-->
    <servlet>
        <servlet-name>orderFreshServlet</servlet-name>
        <servlet-class>servlet.orderFreshServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>orderFreshServlet</servlet-name>
		<url-pattern>/eshop/orderFreshServlet</url-pattern>
	</servlet-mapping>
	<!--审核未通过公告-->
    <servlet>
        <servlet-name>unverifyServlet</servlet-name>
        <servlet-class>servlet.unverifyServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>unverifyServlet</servlet-name>
		<url-pattern>/eshop/unverifyServlet</url-pattern>
	</servlet-mapping>
	<!--审核未通过超市用户-->
    <servlet>
        <servlet-name>unverifySuperUserServlet</servlet-name>
        <servlet-class>servlet.unverifySuperUserServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>unverifySuperUserServlet</servlet-name>
		<url-pattern>/eshop/unverifySuperUserServlet</url-pattern>
	</servlet-mapping>
	<!--通过公告-->
    <servlet>
        <servlet-name>passNoticeServlet</servlet-name>
        <servlet-class>servlet.passNoticeServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>passNoticeServlet</servlet-name>
		<url-pattern>/eshop/passNoticeServlet</url-pattern>
	</servlet-mapping>
	<!--不通过公告-->
    <servlet>
        <servlet-name>unpassNoticeServlet</servlet-name>
        <servlet-class>servlet.unpassNoticeServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>unpassNoticeServlet</servlet-name>
		<url-pattern>/eshop/unpassNoticeServlet</url-pattern>
	</servlet-mapping>
	<!--通过用户-->
    <servlet>
        <servlet-name>passUserServlet</servlet-name>
        <servlet-class>servlet.passUserServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>passUserServlet</servlet-name>
		<url-pattern>/eshop/passUserServlet</url-pattern>
	</servlet-mapping>
	<!--不通过用户-->
    <servlet>
        <servlet-name>unpassUserServlet</servlet-name>
        <servlet-class>servlet.unpassUserServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>unpassUserServlet</servlet-name>
		<url-pattern>/eshop/unpassUserServlet</url-pattern>
	</servlet-mapping>
	<!--删除超市-->
    <servlet>
        <servlet-name>deleteShopServlet</servlet-name>
        <servlet-class>servlet.deleteShopServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>deleteShopServlet</servlet-name>
		<url-pattern>/eshop/deleteShopServlet</url-pattern>
	</servlet-mapping>
	<!--显示所有超市-->
    <servlet>
        <servlet-name>showAllShopServlet</servlet-name>
        <servlet-class>servlet.showAllShopServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>showAllShopServlet</servlet-name>
		<url-pattern>/eshop/showAllShopServlet</url-pattern>
	</servlet-mapping>
	<!--根据用户名显示全部通过的公告-->
    <servlet>
        <servlet-name>showAllPassNoticeByUsernameServlet</servlet-name>
        <servlet-class>servlet.showAllPassNoticeByUsernameServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>showAllPassNoticeByUsernameServlet</servlet-name>
		<url-pattern>/eshop/showAllPassNoticeByUsernameServlet</url-pattern>
	</servlet-mapping>
	<!--显示所有商品分类-->
    <servlet>
        <servlet-name>showAllGoodsItemServlet</servlet-name>
        <servlet-class>servlet.showAllGoodsItemServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>showAllGoodsItemServlet</servlet-name>
		<url-pattern>/eshop/showAllGoodsItemServlet</url-pattern>
	</servlet-mapping>
	<!--删除商品-->
    <servlet>
        <servlet-name>deleteGoodsServlet</servlet-name>
        <servlet-class>servlet.deleteGoodsServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>deleteGoodsServlet</servlet-name>
		<url-pattern>/eshop/deleteGoodsServlet</url-pattern>
	</servlet-mapping>
	<!--更新商品-->
    <servlet>
        <servlet-name>updategoodsServlet</servlet-name>
        <servlet-class>servlet.updategoodsServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>updategoodsServlet</servlet-name>
		<url-pattern>/eshop/updategoodsServlet</url-pattern>
	</servlet-mapping>
	<!--更新超市-->
    <servlet>
        <servlet-name>updateshopServlet</servlet-name>
        <servlet-class>servlet.updateshopServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>updateshopServlet</servlet-name>
		<url-pattern>/eshop/updateshopServlet</url-pattern>
	</servlet-mapping>
	<!--添加商品至购物车-->
    <servlet>
        <servlet-name>addgoodscartServlet</servlet-name>
        <servlet-class>servlet.addgoodscartServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>addgoodscartServlet</servlet-name>
		<url-pattern>/eshop/addgoodscartServlet</url-pattern>
	</servlet-mapping>
	<!--指定删除购物车商品-->
    <servlet>
        <servlet-name>delgoodscartServlet</servlet-name>
        <servlet-class>servlet.delgoodscartServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>delgoodscartServlet</servlet-name>
		<url-pattern>/eshop/delgoodscartServlet</url-pattern>
	</servlet-mapping>
	<!--删除购物车所有商品-->
    <servlet>
        <servlet-name>clearCartServlet</servlet-name>
        <servlet-class>servlet.clearCartServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>clearCartServlet</servlet-name>
		<url-pattern>/eshop/clearCartServlet</url-pattern>
	</servlet-mapping>
	<!--下单-->
    <servlet>
        <servlet-name>ordergoodsServlet</servlet-name>
        <servlet-class>servlet.ordergoodsServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>ordergoodsServlet</servlet-name>
		<url-pattern>/eshop/ordergoodsServlet</url-pattern>
	</servlet-mapping>
	<!--通过分类查找商品-->
    <servlet>
        <servlet-name>showAllGoodsByClassifyServlet</servlet-name>
        <servlet-class>servlet.showAllGoodsByClassifyServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>showAllGoodsByClassifyServlet</servlet-name>
		<url-pattern>/eshop/showAllGoodsByClassifyServlet</url-pattern>
	</servlet-mapping>
	<!--模糊查询-->
    <servlet>
        <servlet-name>searchGoodsServlet</servlet-name>
        <servlet-class>servlet.searchGoodsServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>searchGoodsServlet</servlet-name>
		<url-pattern>/eshop/searchGoodsServlet</url-pattern>
	</servlet-mapping>
</web-app>